{{!-- <h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/addlocalgame">Add Game</a><br>
<a href="/updatelocalgame">Edit Game</a><br>
<a href="/localgames">Local Games</a>

<a href="/games">Games IGDB</a><br>
<a href="/rawg">Games Rawg</a>
<a href="/signup">signup</a>
<a href="/login">login</a>
<a href="/logout">logout</a> --}}

<div class="container-home">
    <div class="form-wrapper">
        {{!-- <form action="/artists/" method="GET" class="form-home">
            <input type="text" name="search" /> --}}
            <p>Welcome to {{title}}</p>
            	<li><a href="/games">Games IGDB</a></li>
                <button type="submit">Search for an Artist</button>
					<li><a href="/rawg">Games Rawg</a></li>
            <button type="submit">Search for an Artist</button>
        </form>
    </div>
</div>
