
<div class="container-home">
    <div class="slider">
     <div class="introduction">
            <h1>Welcome to GAME SHINKA 進化</h1> 
            <p>Explore your favorite GAME...</p>
        <div class= "igdb">
            <a href="/games">Show All Games</a>
        </div>
    </div>
    </div>
</div>



