* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}


//////NAV bar
/*------------------
  Header section
---------------------*/

.header-section {
	background: #131313;
	clear: both;
	overflow: hidden;
  // padding: 1vw ;
  padding-left: 1vw;
  padding-right: 1vw;
	border-bottom: 1px solid #ffb320;
}

.user-panel {
	float: right;
	font-weight: 300;
	background: #ffb320;
  padding: 8px 28px;
  margin-top: 15px;
	border-radius: 30px;
}

.user-panel a {
	font-size: 20px;
	color: #131313;
}

.logo{
  float: left;
  padding: 8px 28px;
  margin-top: 15px;

}

.main-menu {
  float: left;
	margin-top: 15px;
}

.main-menu ul li {
	display: inline;
}

.main-menu ul li a {
	display: inline-block;
	font-size: 16px;
	color: #fff;
	margin-left: 35px;
	font-weight: 500;
	padding: 10px 5px;
}

.main-menu ul li a:hover {
	color: #ffb320;
}

//////Footer
/*----------------------
  Footer Section
------------------------*/

.footer-section {
	padding: 15px;
	overflow: hidden;
  background: #252525;
  border-top: 1px solid #ffb320;

}
.footer-contaier{
  margin-left: 0;
}

.copyright {
	float: left;
	margin-bottom: 0;
	font-weight: 500;
	color: #aeaeae;
}

.footer-menu {
	list-style: none;
	float: right;
}

// .footer-menu li {
// 	display: inline;
// }

// .footer-menu li a {
// 	display: inline-block;
// 	font-size: 14px;
// 	font-weight: 500;
// 	color: #aeaeae;
// 	margin-left: 30px;
// }





//////HOME/INDEX-page
// .container-home {
//   height: 100vh;
//   background-image: url("/img/slider-1.jpg");

// }

.container-home{
  margin:0;
  padding:0;
  background: #333131;
}
.slider{
  height: 83vh;
  background: url("/img/slider-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slide 10s infinite;
}
@keyframes slide{
  0%{
    background: url("/img/slider-2.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.igdb{
	float: right;
	font-weight: 500;
	background: #ffb320;
  padding: 8px 28px;
  margin-top: 15px;
	border-radius: 30px;
}

.igdb a {
	font-size: 20px;
	color: #131313;
}
.introduction {
  width: 50%;
  height: 25%;
  color: #fff;
  position: absolute;
}


////signin/login
.signin-container{
  height: 80vh;
  margin:0;
  padding:0;
  background: url("/img/review-bg-2.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-container{
  height: 80vh;
  margin:0;
  padding:0;
  background: url("/img/recent-game-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}


.profile-header {
    transform: translateY(5rem);
}

.add{
  height: 100vh;
  margin:0;
  padding:0;
  background: url("/img/review-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  // display: flex;
  // justify-content: center;
  // align-items: center;
}

