<h1>SEARCH RESULT</h1>


{{#each gameInfo}}

  {{#if cover.url}}
    {{!-- {{#if first_release_date}} --}}
      <h4>{{name}}</h4>

      <label>Cover:</label><br>
      <img src="{{cover.url}}"><br>

      <label>Screenshots</label><br>
      {{#each screenshots}}
      <img src="{{url}}">
      {{/each}}
    {{!-- {{/if}} --}}
  {{/if}}

{{/each}}


