<div class="add">
<div class="container">
<h1>Add New Game</h1>
  <form action="/addlocalgame" method="post" enctype="multipart/form-data">

    <div class="form-group">
      <label for="photo">Cover: </label>
      <input class="form-control-file form-control-sm" type="file" name="photo" id="photo" />
    </div>

    <div class="form-group">
      <label for="name">Name: </label>
      <input class="form-control" type="text" name="name" id="name" />
    </div>

    <div class="form-group">
      <label for="genre">Genre: </label>
      <select class="form-control" name="genre" id="selectGenre">
        <option value="selectgenre">Select</option>
        <option value="adventure">Adventure</option>
        <option value="action">Action</option>
        <option value="fighting">Fighting</option>
        <option value="survivalhorror">Survival Horror</option>
        <option value="racing">Racing</option>
        <option value="sports">Sports</option>
        <option value="rythm">Rythm</option>
        <option value="puzzle">Puzzle</option>
        <option value="educational">Educational</option>
        <option value="serious">Serious</option>
        <option value="others">Others</option>
      </select>
    </div>

    <div class="form-group">
      <label for="serie">Parent: </label>
      <select class="form-control" name="parent" id="selectParent">
        <option value="0">Parent</option>
        {{#each games}}
        <option value="{{_id}}">{{name}}</option>
        {{/each}}
      </select>
    </div>

    <div class="form-group">
      <label for="publisher">Publishers: </label>
      <input class="form-control" type="text" name="publisher" id="publisher" />
    </div>

    <div class="form-group">
      <label for="firstrelease">First release: </label>
      <input class="form-control" type="date" name="firstrelease" id="firstrelease" />
    </div>

    <div class="form-group">
      <label for="summary">Summary: </label>
      <textarea class="form-control" name="summary" id="summary"></textarea>
    </div>

    <div class="d-flex justify-content-around m-5">
    <button class="btn btn-primary" type="submit">Add GAME</button>
    <a class="btn btn-danger" href="/localgames">Cancel</a>
    </div>
  </form>
</div>
</div>
